# Ignore RubyMine config
/.idea

# Ignore bundler config.
/.bundle

# Ignore pow config
/.powenv

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

#Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
.tddium*
.byebug_history
coverage.data
Session.vim
spec/units/node_modules/
coverage

public/*
node_modules/
npm-debug.log
tmp
log/
