<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Listing Matrices:</h2>
  </div>
  <div class="panel-body">
    <%= render partial: 'matrices_list', locals: {matrices: @public_matrices, title: 'Public matrices'} %>
    <%= render partial: 'matrices_list', locals: {matrices: @my_matrices, title: 'My matrices'} %>
  </div>
</div>
<footer class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'New Matrix', new_matrix_path, class: 'btn btn-default' %>
  </div>
</div>
