<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Create your new Matrix:</h2>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<footer class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Back', matrices_path, class: 'btn btn-default' %>
  </div>
</footer>
