<p id="notice"><%= notice %></p>

<p>
  <%= @matrix.name %></p>
<div class="valoritization" id="root">
</div>
<script src="/bundle.js"></script>


<%= link_to 'Edit', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>
