<p id="notice"><%= notice %></p>

<p>
  <%= @matrix.name %></p>
<div class="valoritization" id="root">
  <script>
    var INITIAL = {
      "tasks": [
        {
          "id": '0-1-1-2-3',
          "text": "coucou",
          "value": 5,
          "cost": 5,
          "completed": false
        }, {
          "id": '0-1-1-2-4',
          "text": "youpi",
          "value": 6,
          "cost": 6,
          "completed": true
        }
      ],
      "visibilityFilter": "SHOW_ALL",
      "extremeCoordinates": {
        "minValue": 0,
        "maxValue": 10,
        "minCost": 0,
        "maxCost": 10
      }
    };
  </script>
</div>
<script src="/bundle.js"></script>

<%= link_to 'Edit', edit_matrix_path(@matrix) %>
|
<%= link_to 'Back', matrices_path %>
