<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Nicolas De Nayer</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3" style="font-size: 80px; text-align: center;">
        <a href="https://www.linkedin.com/in/nicolasdenayer"><%= fa_icon('linkedin')%></a>
      </div>
      <div class="col-sm-3" style="font-size: 80px; text-align: center;">
        <a href="https://twitter.com/NicolasDeNayer"><%= fa_icon('twitter')%></a>
      </div>
      <div class="col-sm-3" style="font-size: 80px; text-align: center;">
        <a href="https://github.com/VanNayer"><%= fa_icon('github')%></a>
      </div>
      <div class="col-sm-3" style="font-size: 80px; text-align: center;">
        <a href="mailto:whatever@valoritization.com"><%= fa_icon('envelope-o')%></a>
      </div>
    </div>
    <hr/>
    <div class="row ptxl">
      <div class="col-sm-6" style="text-align: center;">
        <h4>Want to reward my work?</h4>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="man pan">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input
            type="hidden"
            name="encrypted"
            value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBS3uggA4bpPXkX6ft+GSfU3902VIV0jvk3ke2zaUc2l1opIur17qewI5YVfo5gx7HHI8YrZz1AAGtWThD0ZE80d1I6udliQUwcti3bxdZUwXS7Ev4GMT5Zx3FyuKMJ4YKI5LNRY8gmlHm+1vYqabkXjbKDQMsgQcG6RHEytGxhRTELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIBee0ucSZfSOAgZir6NfJF7EYwXV13swtGBUJyOB4MHMDnezswI/yT8L6Pc7shUWnFUUMoEImxD1qAW7ZBTBnQTkK+SwySTOAjc7pY73CG0KfmGldyFAvSZAjTChWJ23p37ZJHwn8SQzMDHwLDf/EiKyc8W+U6d22U5Nv4Cir76Ti3F1GXyPOpgyCcRCl+S6Kwb9VmCm4EqTY7J4XcLoVaczd/6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE1MTAyMjIxNTUzMlowIwYJKoZIhvcNAQkEMRYEFH8LB9pTGE/vPe5OG0F9n5OP9I16MA0GCSqGSIb3DQEBAQUABIGAmC7PieGOjrzjaM6UuoPTiYK3t8bMDm8KzPLChxoiFUbtbL/FAFvMPOpzIr1AwfzC5TrzvVR6nzt5WOIApt/g9hVjWDmaPjNRCRjxC+wOyAEPJGi/6q8HHxKh/4Nav48cC3CWRyUbmbqoJ+OgnN4TR5fXrtLN3DgAjRyHw6xPOk8=-----END PKCS7-----">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" class="man pan">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <div class="col-sm-6" style="text-align: center;">
        <h4 class="hide-for-small">Want to contribute?</h4>
        <p>Keep up with the latest on Valoritization:
          <a href="https://github.com/vannayer/valoritization">Github</a>.
        </p>
      </div>
    </div>
  </div>
</div>
